div.watcha_com {
  position: absolute;
  z-index: 999;
}

div.www_netflix_com {
  position: absolute;
  z-index: 999;
}

div.www_wavve_com {
  position: absolute;
  z-index: 999;
}

div.www_wavve_com>a {
  display: inline !important;
}

.fy-edit, .fy-external-site, .fy-imdb-rating.over-na {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.fy-edit {
  font-size: 60%;
  text-decoration: underline;
}

.fy-edit:hover {
  font-size: 120%;
}


.fy-imdb-rating {
  color: black;
}

/* from https://3oneseven.com/rating-system-movies/ */
.fy-imdb-rating.over-9 {
  background-color: #01cc34;
}

.fy-imdb-rating.over-8 {
  background-color: #99ff32;
}

.fy-imdb-rating.over-7 {
  background-color: #ccff34;
}

.fy-imdb-rating.over-6 {
  background-color: #ccff66;
}

.fy-imdb-rating.over-5 {
  background-color: #ffff67;
}

.fy-imdb-rating.over-4 {
  background-color: #ffcc00;
}

.fy-imdb-rating.over-3 {
  background-color: #ff9934;
}

.fy-imdb-rating.over-2 {
  background-color: #ff6634;
}

.fy-imdb-rating.over-1 {
  background-color: #ff3334;
}

.fy-imdb-rating.over-0 {
  background-color: #cd3301;
}

.fy-imdb-rating.over-na {
  background-color: inherit;
}


/* not available yet */
.fy-imdb-my-rating {
  color: inherit;  /* todo+++ */
  font-weight: bold;
}